<!-- <div [ngClass]="'card ' + cardType">
    <img [src]="imageSrc" *ngIf="imageSrc">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{content}}</p>
    </div>
  </div> -->


  <div>
    <div class="card card-border-width-0 w-100 shadow">
      <div class="card card-border-width-0 ">
        <div class="mt-4">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ img }}</h5>
          <p>{{ content }}</p>
        </div>
        <hr class="w-75 mx-auto mt-0" />
        <button
          type="button"
          class="btn btn-outline-secondary w-50 mx-auto mb-3">
          {{clickhere}}
        </button>
      </div>
    </div>
  </div>

  
<!-- <div id="card-style" class="container">
  <div class="row row-cols-1 row-cols-md-3 g-5 align-items-center">
      <a href="#" routerLink="/basic-details" class="btn">
      <div class="col">
        <div class="card">
          <img src="assets\Images\BankDetails.png" class="card-img-top shadow p-1" width="25px" alt="..." />
          <div class="card-body ">
            <h3 class="card-title">Basic Details</h3 >
          </div>
        </div>
      </div>
      </a>
  </div>  -->
<!-- </div>    -->
    