
<nav class="navbar navbar-expand-md ">
  <div class="navbar-brand">Infokalash</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav space mr-auto">
      <li class="nav-item">
        <div class="nav-link">HR</div>
      </li>
      <li class="nav-item">
        <div class="nav-link">Admin</div>
      </li>
      <li class="nav-item">
        <div class="nav-link">Lead</div>
      </li>
      <li class="nav-item">
        <div class="nav-link">Manager</div>
      </li>
    </ul>
  </div>
</nav>

  

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://www.infokalash.com/" style="margin-left: 10px;">Infokalash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">{{Content1}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">{{Content2}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="" routerLinkActive="active">{{Content3}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">{{Content4}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">{{Content5}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">{{Content6}}</a>
        </li>
        
      </ul>
    </div> 
  </nav> -->
  
  
  
  

        <!-- <li class="nav-item" (mouseover)="dropdownToggle=true" (mouseleave)="dropdownToggle=false"> -->
            <!-- <a class="nav-link" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                <!-- <a class="nav-link" routerLink="/" routerLinkActive="active">{{one}}</a> -->
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show': dropdownToggle}">
              <a class="dropdown-item" routerLink="/leave-policy">Leave Policy</a>
              <a class="dropdown-item" href="#">Another action</a> -->
              <!-- <div class="dropdown-divider"></div> -->
              <!-- <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Leave Policy</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          <!-- </li> -->

      
  