.leave-container{
  border:2px solid rgb(10, 107, 107);
}

.header{
  border: 1px red solid
}

.history{
  border: green 2px solid;
}
.count{
  border: blue 2px solid;
}

.doc{
  border:red 2px solid;
}