/* .toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 0;
}  
.app-sidenav {
    width: 230px;
}
.app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}  */

/* .over {
    transition: transform 0.2s ease;
    
  } */
  
  /* .over:hover {
    transform: scale(1.05) translateY(-5px); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  /* } */
/* a{
    text-decoration: none;
  } */

.welcome{
  color: rgb(93, 156, 237);
  
}

.icon{
  color: rgb(58, 58, 114);
}

