    <!-- <app-navbar #navbarComponent [Content1]="Home" [Content2]="Contact" [Content3]="About"></app-navbar> -->

    <div class="container w-100 my-auto mt-5">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-5 shadow p-4">
        <a routerLink="/basic-details"><app-card ></app-card></a>
          <app-card ></app-card>
          <app-card ></app-card>
          <app-card ></app-card>
          <app-card ></app-card>
          <app-card ></app-card>
          <app-card ></app-card>
          <app-card ></app-card>
      </div>
    </div>
    